<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script> <!
    <script src="/js/applicantList.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title>Applicant List</title>


</head>
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/images/logo.png"></a> <!-- Logo location with link to homepage -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span> <!-- Drop down menu button when page is on mobile -->
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"> <!--Each button object for nav-->
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/new-applicant">Sign Up</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>
            <div class="row-navbar">
                <div id="google_translate_element">
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                        }
                    </script>
                </div>
            </div>
        </div>
    </nav>
</header>
<body>


<div align="center">
    <h1 id="pageTitle">Applicants</h1>
    <br/>
    <table border="1" cellpadding="10" class="styled-table">
        <thead>
        <tr>
            <th>Athlete ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Mobile Number</th>
            <th>Guardian Mobile Number</th>
            <th>Application Status</th>
            <th>Accept</th>
            <th>Reject</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="athlete : ${listApplicants}">
            <td class="athleteID" th:text="${athlete.athleteID}">Athlete ID</td>
            <td th:text="${athlete.name}">Name</td>
            <td th:text="${athlete.gender}">Gender</td>
            <td th:text="${athlete.dob}">Date of Birth</td>
            <td th:text="${athlete.mobileNumber}">Mobile Number</td>
            <td th:text="${athlete.guardianContactNumber}">Guardian Number</td>
            <td th:text="${athlete.applicationStatus}">Application Status</td>
            <td><button class="button" type="submit" id="acceptButton">ACCEPT</button></td>
            <td><button class="button" type="submit" id="rejectButton">REJECT</button></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>