<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Athlete Morning Monitoring Form</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<header>
    <div id="nav-placeholder">

    </div>

    <script>
        $(function () {
            $("#nav-placeholder").load("navigationBar.html");
        });
    </script>
</header>

<body>
    <h1>Athlete Morning Monitoring Data Entry</h1>
    <br>
    <form>
        <label for="date">Date of measurements taken:</label><br>
        <input type="date" id="date" name="date"><br>

        <label for="whr">Waking heart rate:</label><br>
        <input type="number" id="whr" name="whr"><br>

        <label for="shr">Standing heart rate:</label><br>
        <input type="number" id="shr" name="shr"><br>

        <label for="ps">Perceived shape:</label><br>
        <input type="number" min="1" max="10" step="1" id="ps" name="ps"><br>

        <label for="pms">Percieved mental state:</label><br>
        <input type="number" min="1" max="10" step="1"id="pms" name="pms"><br>

        <label for="sleepquantity">Sleep quality:</label><br>
        <input type="number" min="0" max="24" step="0.5"id="sleepquantity" name="sleepquantity"><br>

        <label for="sleepquality">Sleep quantity:</label><br>
        <input type="number" min="1" max="10" step="1"id="sleepquality" name="sleepquality"><br>

        <br><br>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>


</body>
</html>