<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!--        <link rel="stylesheet" href="/css/athleteDashboard.css">-->
        <link rel="stylesheet" href="/css/formDashboard.css">
    <script type="text/javascript"
            src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <title>Athlete Dashboard</title>
</head>
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/images/logo.png"></a>
            <!-- Logo location with link to homepage -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span> <!-- Drop down menu button when page is on mobile -->
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"> <!--Each button object for nav-->
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/new-applicant">Sign Up</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" id="signout" href="/logout">Log Out</a>
                    </li>
                </ul>
            </div>
            <div class="row-navbar">
                <div id="google_translate_element">
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                        }
                    </script>
                </div>
            </div>
        </div>
    </nav>

</header>
<body>
<br>
<h2 id="formTitle">Your Dashboard</h2>
<br><br>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="information">
                <h3>Medical Data</h3>
                <p>Enter your medical data here</p>
                <a th:href="@{/submit-anthropometry/{id} (id=${userID})}" class="btn btn-primary"> Enter your Medical
                    Data </a>

            </div>
        </div>
        <br><br>
        <div class="col-md-4">
            <div class="information">
                <h3>Update Medical Data</h3>
                <p>Update your medical data</p>
                <a th:href="@{/update-anthropometry/{id} (id=${userID})}" class="btn btn-primary"> Update your Medical
                    Data </a>
            </div>
        </div>
        <br><br>
        <div class="col-md-4">
            <div class="information">
                <h3>Previous Sports</h3>
                <p>Enter your previous sporting data here.</p>
                <a th:href="@{/submit-previous-sports/{id} (id=${userID})}" class="btn btn-primary"> Enter your Sporting
                    History </a>
            </div>
        </div>
        <br><br>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="information">
                <h3 class="link"><a th:href="@{/athlete-mmd-form/{id} (id=${userID})}" class="link">Morning Monitoring</a></h3>
                <a th:href="@{/athlete-mmd-form/{id} (id=${userID})}"><img id="big"
                                                                           src="https://i.pinimg.com/736x/85/5d/f2/855df22700990ca085d87970f354054f.jpg"></a>
                <p>Daily monitoring of physical and psychological metrics</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="information">
                <h3 class="link"><a th:href="@{/submit-session-rpe/{id} (id=${userID})}" class="link">Workout
                    Training</a>
                </h3>
                <a th:href="@{/submit-session-rpe/{id} (id=${userID})}"><img
                        src="https://www.pngitem.com/pimgs/m/121-1210928_bodybuilding-and-dumbbells-vector-image-illustration-transparent-background.png"></a>
                <p>Enter data about your workout sessions</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="information">
                <h3 class="link"><a th:href="@{/submit-cross-training-form/{id} (id=${userID})}" class="link">Cross
                    Training</a>
                </h3>
                <a th:href="@{/submit-cross-training-form/{id} (id=${userID})}"><img
                        src="https://img.pngio.com/vector-running-man-man-clipart-vector-running-man-png-and-vector-png-of-person-running-650_795.png"></a>
                <p>Enter data about your cross training sessions</p>
            </div>
        </div>
    </div>
</div>

<br><br>
<h2>Morning Monitoring:</h2>
<div id="disclaimer"><small>Below is your morning monitoring graph, based off the last weeks data. Note: This requires
    at least 7 days data to populate.</small></div>
<br>

<div id="morningMonitoring" class="formContainer">
    <div class="graph">
        <div id="chartContainer">
            <canvas id="myChart"></canvas>
        </div>
    </div>

</div>
<div class="morningMonitoringTable">
    <div class="col-md-4">
        <div class="information">
            <h3>Morning Monitoring Data</h3>
            <p>Go here to view a table format of all your morning monitoring data</p>
            <a th:href="@{/morning-monitoring-data/{id} (id=${userID})}" class="btn btn-primary"> View Data </a>
        </div>
    </div>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/
    var wakingHR = /*[[${graphs.wakingHR}]]*/ 'default';
    var standingHR = /*[[${graphs.standingHR}]]*/ 'default';
    var shape = /*[[${graphs.shape}]]*/ 'default';
    var dates = /*[[${graphs.dates}]]*/ 'default';
    var osHR = new Array(standingHR[0] - wakingHR[0], standingHR[1] - wakingHR[1], standingHR[2] - wakingHR[2], standingHR[3] - wakingHR[3], standingHR[4] - wakingHR[4], standingHR[5] - wakingHR[5], standingHR[6] - wakingHR[6], standingHR[7] - wakingHR[7]);

    var ctx = document.getElementById('myChart');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [dates[0], dates[1], dates[2], dates[3], dates[4], dates[5], dates[6]],
            datasets: [{
                data: wakingHR,
                label: "Waking Heart Rate",
                borderColor: "#3e95cd",
                fill: false,
                lineTension: 0
            }, {
                data: standingHR,
                label: "Standing Heart Rate",
                borderColor: "#8e5ea2",
                lineTension: 0,
                fill: false
            }, {
                data: shape,
                label: "Shape",
                borderColor: "#FF0000",
                lineTension: 0,
                fill: false
            }, {
                data: osHR,
                label: "Osmotic HR",
                borderColor: "#008000",
                lineTension: 0,
                fill: false
            }
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: 'Morning Monitoring Heart rates(BPM)',
            }
        }
    });
    /*]]>*/
</script>


</body>
</html>