<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/coachDashboard.css">
<!--    <H1>Coach Dashboard</H1>-->

</head>
<body>

</body>

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
    <a class="navbar-brand" href="welcome.html"><img src="images/logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="welcome.html">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="welcome.html">About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="welcome.html">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="welcome.html">Logout</a>
            </li>
        </ul>
    </div>
</div>
</nav>


<!--    <div th:text="${coachName.message}"></div>-->
<!--    <div th:text="${coachName.name}"></div>-->
<!--    <p> <small> Authorised Viewing Only </small> </p>-->


</html>