<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/coachDashboard.css">
<!--    <H1>Coach Dashboard</H1>-->
</head>
<body>
<!--  Beginning of Navigation section of website  -->

<!--Using JQuery to avoid copying and pasting navigation code, creating boiler plate code, refers to navigationBar.html-->

<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="/images/logo.png"></a> <!-- Logo location with link to homepage -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span> <!-- Drop down menu button when page is on mobile -->
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"> <!--Each button object for nav-->
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/new-applicant">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--<div id="nav-placeholder">-->

<!--</div>-->

<!--<script>-->
<!--    $(function(){-->
<!--        $("#nav-placeholder").load("navigationBar.html");-->
<!--    });-->
<!--</script>-->
<!--</body>-->



<!-- End of Navigation section of website-->
<div class="coachDashboardLead">
<!--Thymleaf section-->
    <div th:text="${coachName.name}"></div>
    <div th:text="${coachName.text}"></div>
<br>
<h3> Visit all Applicants </h3>
<p>Press the button below to view all current applicants.</p>
<!--Button to lead to view all applicants -->
<button class="btn btn-success" onclick="location.href='/applicants'">View all Applicants</button>
<br>
<br>
    <h3> Interview Process </h3>
    <p>Press the button below to navigate to the interview form.</p>
    <button class="btn btn-primary" onclick="location.href='/interview-form/2'">Interviews</button>

<br>
<br>
    <h3> Athlete Morning Monitoring Progress </h3>
    <p>Press the button below to navigate to see current Athlete Morning Monitoring Progress.</p>
    <button class="btn btn-primary" onclick="location.href='/coachdashboard/{id}/athletemorningmonitoring'">Athlete Morning Monitoring</button>


    <p> <small> Authorised Viewing Only </small> </p>
</div>
</html>