<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/coachDashboard.css">
<!--    <H1>Coach Dashboard</H1>-->
</head>
<body>
<!--  Beginning of Navigation section of website  -->

<!--Using JQuery to avoid copying and pasting navigation code, creating boiler plate code, refers to navigationBar.html-->

<div id="nav-placeholder">

</div>

<script>
    $(function(){
        $("#nav-placeholder").load("navigationBar.html");
    });
</script>
</body>



<!-- End of Navigation section of website-->


    <div th:text="${coachName.name}"></div>
    <div th:text="${coachName.text}"></div>
<!--    <p> <small> Authorised Viewing Only </small> </p>-->


</html>