<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Login page</title>
</head>
<body>
    <form action="#" method="post" th:action="@{/new-applicant}" th:object="${applicantForm}">


        <label th:for="name">Please enter your Full Name:</label>
        <input class="form-control" th:field="*{name}" type="text" placeholder="Full Name" required/>

        <label th:for="username">Please enter a username: </label>
        <input class="form-control" th:field="*{username}" type="text" placeholder="Username" required/>

        <button class="btn btn-primary" type="submit">Create Your Account</button>

    </form>
</body>
</html>