<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login page</title>
</head>
<header>
    <!--  Beginning of Navigation section of website  -->
    <!--Using JQuery to avoid copying and pasting navigation code, creating boiler plate code, refers to navigationBar.html-->

    <div id="nav-placeholder">

    </div>

    <script>
        $(function () {
            $("#nav-placeholder").load("navigationBar.html");
        });
    </script>

    <!-- End of Navigation section of website-->

    <h1 id="pageTitle">Login </h1>

</header>
<body>
    <p>Please enter your login information.</p>
        <form action="#" method="post" th:action="@{/login}" th:object="${loginForm}">
            <div class="row justify-content-center">

                <label th:for="username">Username:</label><br>
                <input class="form-control" th:field="*{username}" type="text"><br>
                <span th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Please enter your username.</span>

                <label th:for="password">Password:</label><br>
                <input class="form-control" th:field="*{password}" type="password"><br>
                <span th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Please enter your password.</span>
                <br>
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>

</body>
</html>