<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/athleteEntryForm.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/js/newAthleteEntry.js"></script>
    <title>New Athlete</title>


</head>
<header>
    <h1 id="pageTitle">New Athlete </h1>
</header>
<body>

<div>
    <p>Please enter your information to create an account.</p>
</div>

<div class="entry-form">
    <form action="#" method="post" th:action="@{/add-athlete}" th:object="${athlete}">

        <div class="form-group">
            <label th:for="name">Please enter your Full Name:</label>
            <input class="form-control" th:field="*{name}" type="text" placeholder="Full Name" required/>
            <br>
            <span th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Please enter your name.</span>
        </div>

        <div class="form-check">
            <br>
            <label>Please select your Gender:</label>
            <br>
            <input class="form-check-input" th:field="*{gender}" th:value="male" type="radio">
            <label class="form-check-label" th:for="${#ids.prev('gender')}">Male</label>
            <br>
            <input class="form-check-input" th:field="*{gender}" th:value="female" type="radio"/>
            <label class="form-check-label" th:for="${#ids.prev('gender')}">Female</label>
            <br>
            <input class="form-check-input" th:field="*{gender}" th:value="other" type="radio"/>
            <label class="form-check-label" th:for="${#ids.prev('gender')}">Other</label>
            <br>
            <span th:errors="*{gender}" th:if="${#fields.hasErrors('gender')}">Please select your Gender.</span>
        </div>
        <div class="form-group">
            <br>
            <label th:for="dob">Date Of Birth: </label>
            <input class="form-control" th:field="*{dob}" id="dob" type="date" onchange="checkDOB()" required/>
            <span th:errors="*{dob}" th:if="${#fields.hasErrors('dob')}">Please enter your date of birth</span>
        </div>

        <div class="parent-data" id="parentGuardianEntry" hidden>
            <br>
            <label class="parent-warning">As you are under the age of 18, please tell us contact information about your parent or
                guardian.</label>
            <br>
            <br>
            <label th:for="guardianName">Please enter your Parent/Guardian's name: </label>
            <input class="form-control" th:field="*{guardianName}" type="text" placeholder="Name"/>
            <br>

            <br>
            <label th:for="relationshipToAthlete">Please enter your Parent/Guardian's relationship to you: </label>
            <input class="form-control" th:field="*{relationshipToAthlete}" type="text" placeholder="eg. Mother, Father"/>
            <br>

            <br>
            <label th:for="guardianEmail">Please enter your Parent/Guardian's email address: </label>
            <input class="form-control" th:field="*{guardianEmail}" type="email" placeholder="Email Address"/>
            <br>

            <br>
            <label th:for="guardianContactNumber">Please enter your Parent/Guardian's contact number: </label>
            <input class="form-control" th:field="*{guardianContactNumber}" type="text" placeholder="Phone Number"/>
            <br>
        </div>

        <div class="form-group">
            <br>
            <label th:for="email">Please enter your email Address: </label>
            <input class="form-control" th:field="*{email}" type="email" placeholder="Email Address" required/>
            <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Please enter your email address</span>
            <br>
        </div>
        <div class="form-group">
            <br>
            <label for="password">Please enter a new Password: </label>
            <input class="form-control" id="password" type="password" placeholder="Password" required/>
            <br>
        </div>
        <div class="form-group">
            <br>
            <label th:for="password">Confirm Password: </label>
            <input class="form-control" th:field="*{password}" type="password" id="confirmPassword" placeholder="Confirm Password" required oninput="checkPasswordsMatch(this)"/>
            <br>
        </div>
        <div class="form-check">
            <br>
            <label>Where did you hear about us?</label>
            <br>
            <input class="form-check-input" th:field="*{heardFrom}" th:value="facebook" type="radio">
            <label class="form-check-label" th:for="${#ids.prev('heardFrom')}">Facebook</label>
            <br>
            <input class="form-check-input" th:field="*{heardFrom}" th:value="socialMedia" type="radio"/>
            <label class="form-check-label" th:for="${#ids.prev('heardFrom')}">Social Media</label>
            <br>
            <input class="form-check-input" th:field="*{heardFrom}" th:value="email" type="radio"/>
            <label class="form-check-label" th:for="${#ids.prev('heardFrom')}">University Email</label>
            <br>
            <input class="form-check-input" th:field="*{heardFrom}" th:value="friends" type="radio"/>
            <label class="form-check-label" th:for="${#ids.prev('heardFrom')}">Friends</label>
            <br>
            <input class="form-check-input" th:field="*{heardFrom}" th:value="family" type="radio"/>
            <label class="form-check-label" th:for="${#ids.prev('heardFrom')}">Family members</label>
            <br>
            <input class="form-check-input" th:field="*{heardFrom}" th:value="other" type="radio"/>
            <label class="form-check-label" th:for="${#ids.prev('heardFrom')}">Other</label>
            <br>
            <br>
            <br>
        </div>


        <button class="btn btn-primary" type="submit">Create Your Account</button>

    </form>
</div>

</body>
</html>