<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="/js/newAthleteEntry.js"></script>
    <title>Athlete Data entry</title>

</head>
<header>
    <h1 id="pageTitle">New Athlete </h1>
</header>
<body>

<div>
    <p>Please enter your information to create an account.</p>
</div>

<div>
    <form action="#" method="post" th:action="@{/add-athlete}" th:object="${athlete}">
        <div>
            <label th:for="name">Please enter your Name:</label>
            <input th:field="*{name}" type="text" placeholder="Your Name" required/>
            <br>
        </div>

        <div>
            <br>
            <label>Please select your Gender:</label>
            <br>
            <input th:field="*{gender}" th:value="male" type="radio">
            <label th:for="${#ids.prev('gender')}">Male</label>
            <br>
            <input th:field="*{gender}" th:value="female" type="radio"/>
            <label th:for="${#ids.prev('gender')}">Female</label>
            <br>
            <input th:field="*{gender}" th:value="other" type="radio"/>
            <label th:for="${#ids.prev('gender')}">Other</label>
            <br>
        </div>
        <div>
            <br>
            <label th:for="dob">Date Of Birth: </label>
            <input th:field="*{dob}" type="date" required/>
        </div>
        <div>
            <label for="parentNeeded">Check this box if you are under the age of 18: </label>
            <input id="parentNeeded" type="checkbox" onclick="showHiddenParentFields()"/>
            <br>
        </div>

        <div id="parentName" hidden>
            <br>
            <label th:for="guardianName" >Please enter your Parent/Guardian's name: </label>
            <input th:field="*{guardianName}" type="text" placeholder="Name"/>
            <br>
        </div>

        <div id="relationshipToAthlete" hidden>
            <br>
            <label th:for="relationshipToAthlete" >Please enter your Parent/Guardian's relationship to you: </label>
            <input th:field="*{relationshipToAthlete}" type="text" placeholder="eg. Mother, Father"/>
            <br>
        </div>

        <div id="parentEmail" hidden>
            <br>
            <label th:for="guardianEmail" >Please enter your Parent/Guardian's email address: </label>
            <input th:field="*{guardianEmail}" type="email" placeholder="Email Address"/>
            <br>
        </div>

        <div id="parentNumber" hidden>
            <br>
            <label th:for="guardianContactNumber" >Please enter your Parent/Guardian's contact number: </label>
            <input th:field="*{guardianContactNumber}" type="text" placeholder="Phone Number"/>
            <br>
        </div>

        <div>
            <br>
            <label th:for="email">Email Address: </label>
            <input th:field="*{email}" type="email" placeholder="Email Address" required/>
            <br>
        </div>
        <div>
            <br>
            <label for="password">Please enter a new Password: </label>
            <input id="password" type="password" placeholder="Password" required/>
            <br>
        </div>
        <div>
            <br>
            <label th:for="password">Confirm Password: </label>
            <input th:field="*{password}" type="password" id="confirmPassword" placeholder="Confirm Password" required oninput="checkPasswordsMatch(this)"/>
            <br>
            <br>
        </div>
        <div>
            <br>
            <label>Where did you hear about us?</label>
            <br>
            <input th:field="*{heardFrom}" th:value="facebook" type="radio">
            <label th:for="${#ids.prev('heardFrom')}">Facebook</label>
            <br>
            <input th:field="*{heardFrom}" th:value="socialMedia" type="radio"/>
            <label th:for="${#ids.prev('heardFrom')}">Social Media</label>
            <br>
            <input th:field="*{heardFrom}" th:value="email" type="radio"/>
            <label th:for="${#ids.prev('heardFrom')}">University Email</label>
            <br>
            <input th:field="*{heardFrom}" th:value="friends" type="radio"/>
            <label th:for="${#ids.prev('heardFrom')}">Friends</label>
            <br>
            <input th:field="*{heardFrom}" th:value="family" type="radio"/>
            <label th:for="${#ids.prev('heardFrom')}">Family members</label>
            <br>
            <input th:field="*{heardFrom}" th:value="other" type="radio"/>
            <label th:for="${#ids.prev('heardFrom')}">Other: Please Fill Below</label>
            <br>
<!--            <input th:field="*{heardFrom}" th:value="other" type="text"/>-->
            <br>
            <br>
        </div>


        <button>Create Your Account</button>

    </form>
</div>

</body>
</html>