<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="stylesheet" href="/css/entryForms.css">
    <script src="/js/setDate.js"></script>
    <title>Applicant Anthropometry</title>
</head>

<header>
    <div id="nav-placeholder"></div>
    <script>
        $(function () {
            $("#nav-placeholder").load("navigationBar.html");
        });
    </script>

</header>

<body>
<div class="entry-form">
    <form action="#" method="post" th:action="@{/submit-previous-sports}" th:object="${previousSports}">

        <input th:field="*{athleteID}" hidden>


        <button class="btn btn-primary" type="submit">Submit Your details</button>

    </form>
</div>

</body>
</html>