<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/entryForms.css">
    <link rel="stylesheet" href="/css/template.css">
    <script src="/js/athleteForms.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


    <title>Update your Profile</title>

</head>
<header>

    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/images/logo.png"></a> <!-- Logo location with link to homepage -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span> <!-- Drop down menu button when page is on mobile -->
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"> <!--Each button object for nav-->
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/new-applicant">Sign Up</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div id="google_translate_element">
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                        }
                    </script>
                </div>
            </div>
        </div>
    </nav>

    <!-- End of Navigation section of website-->

    <h1 id="pageTitle">Update Profile </h1>
</header>
<body>

<div>
    <p>Below you can update your information.</p>
</div>

<div class="entry-form">
    <form action="#" method="post" th:action="@{/update-athlete}" th:object="${athleteUpdateForm}">

        <input th:field="*{athleteID}" type="hidden"/>
        <input th:field="*{applicationStatus}" type="hidden"/>

        <div class="form-group">
            <label th:for="name">Please enter your Full Name: *</label>
            <input class="form-control" th:field="*{name}" type="text" placeholder="Full Name" required/>
            <br>
        </div>
        <span th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Please enter your name.</span>

        <div class="form-group">
            <br>
            <label th:for="email">Please enter your email Address: *</label>
            <input class="form-control" th:field="*{email}" type="email" placeholder="Email Address" required/>
            <br>
        </div>
        <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Please enter a valid email address</span>


        <div class="form-check">
            <br>
            <label>Please select your Gender:</label>
            <br>
            <input class="form-check-input" th:field="*{gender}" th:value="male" type="radio">
            <label class="form-check-label" th:for="${#ids.prev('gender')}">Male</label>
            <br>
            <input class="form-check-input" th:field="*{gender}" th:value="female" type="radio"/>
            <label class="form-check-label" th:for="${#ids.prev('gender')}">Female</label>
            <br>
            <input class="form-check-input" th:field="*{gender}" th:value="other" type="radio"/>
            <label class="form-check-label" th:for="${#ids.prev('gender')}">Other</label>
            <br>
        </div>
        <span th:errors="*{gender}" th:if="${#fields.hasErrors('gender')}">Please select your Gender.</span>

        <div class="form-group">
            <br>
            <label th:for="dob">Date Of Birth: *</label>
            <input class="form-control" th:field="*{dob}" type="date" id="dob" onchange="checkDOB()" required/>
        </div>
        <span th:errors="*{dob}" th:if="${#fields.hasErrors('dob')}">Please enter your date of birth</span>

        <div class="parent-data" id="parentGuardianEntry">
            <br>
            <label class="parent-warning">As you are under the age of 18, please tell us contact information about your parent or
                guardian.</label>
            <br>
            <br>
            <label th:for="guardianName">Please enter your Parent/Guardian's name: </label>
            <input class="form-control" th:field="*{guardianName}" type="text" placeholder="Name"/>
            <br>

            <br>
            <label th:for="relationshipToAthlete">Please enter your Parent/Guardian's relationship to you: </label>
            <input class="form-control" th:field="*{relationshipToAthlete}" type="text" placeholder="eg. Mother, Father"/>
            <br>

            <br>
            <label th:for="guardianEmail">Please enter your Parent/Guardian's email address: </label>
            <input class="form-control" th:field="*{guardianEmail}" type="email" placeholder="Email Address"/>
            <br>

            <br>
            <label th:for="guardianContactNumber">Please enter your Parent/Guardian's contact number: </label>
            <input class="form-control" th:field="*{guardianContactNumber}" type="text" placeholder="Phone Number"/>
            <br>
        </div>

        <div class="form-group">
            <br>
            <label th:for="mobileNumber">Please enter your mobile number: </label>
            <input class="form-control" th:field="*{mobileNumber}" type="text" placeholder="Phone Number"/>
            <br>
        </div>

        <div class="form-group">
            <label th:for="telephoneNumber">Please enter your home telephone number: </label>
            <input class="form-control" th:field="*{telephoneNumber}" type="text" placeholder="Phone Number"/>
            <br>
        </div>

        <div class="form-group">
            <label th:for="address">Please enter your current address: </label>
            <input class="form-control" th:field="*{address}" type="text" placeholder="Address"/>
            <br>
        </div>

        <div class="form-group">
            <label th:for="postcode">Please enter your postcode: </label>
            <input class="form-control" th:field="*{postcode}" type="text" placeholder="Postcode"/>
            <br>
        </div>

        <div class="form-group">
            <label th:for="placeOfEducation">Please enter the name of your current place of eduction: eg(School Name, University Name) </label>
            <input class="form-control" th:field="*{placeOfEducation}" type="text" placeholder="School/University"/>
            <br>
        </div>

        <div class="form-check">
            <br>
            <label>Where did you hear about us?</label>
            <br>
            <input class="form-check-input" th:field="*{heardFrom}" th:value="facebook" type="radio">
            <label class="form-check-label" th:for="${#ids.prev('heardFrom')}">Facebook</label>
            <br>
            <input class="form-check-input" th:field="*{heardFrom}" th:value="socialMedia" type="radio"/>
            <label class="form-check-label" th:for="${#ids.prev('heardFrom')}">Social Media</label>
            <br>
            <input class="form-check-input" th:field="*{heardFrom}" th:value="email" type="radio"/>
            <label class="form-check-label" th:for="${#ids.prev('heardFrom')}">University Email</label>
            <br>
            <input class="form-check-input" th:field="*{heardFrom}" th:value="friends" type="radio"/>
            <label class="form-check-label" th:for="${#ids.prev('heardFrom')}">Friends</label>
            <br>
            <input class="form-check-input" th:field="*{heardFrom}" th:value="family" type="radio"/>
            <label class="form-check-label" th:for="${#ids.prev('heardFrom')}">Family members</label>
            <br>
            <input class="form-check-input" th:field="*{heardFrom}" th:value="other" type="radio"/>
            <label class="form-check-label" th:for="${#ids.prev('heardFrom')}">Other</label>
            <br>
            <br>
            <br>
        </div>


        <button class="btn btn-primary" type="submit">Update Details</button>

    </form>
</div>

</body>
</html>