.row {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 30%;
    padding-right: 30%;
    width:100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.heading {
    text-align: center;
}