.entry-form{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 30%;
    padding-right: 30%;
    width:100%;
}
.parent-warning{
    color: red;
}

.parent-data {
    outline: 3px solid black;
    padding-left: 2%;
    padding-right: 2%;
}

.session-rpe-button{
    padding-right: 10%;
    padding-left: 2%;
}

#parentGuardianEntry{
    display: none;
}