canvas{
    width: 90% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-md-4 {
    background-color: black;
    border-radius: 1em;
    border-top: red 2em solid;
    color: white;
    padding: 3%;
}
.information{
    text-align: center;
}
.container{
    padding-left: 3%;
}
.graph {
    margin-top: 0.4%;
    display: inline-block;
    background-color: black;
    width: 66%;
    text-align: center;
    border-radius: 1em;
    border-top: red 2em solid;
    color: white;
    text-decoration: none;
}

.block-graph {
    margin-top: 0.4%;
    display: inline-block;
    background-color: black;
    width: 33%;
    text-align: center;
    border-radius: 1em;
    border-top: red 2em solid;
    color: white;
    text-decoration: none;
    float: left;
    margin-right: 0.4%;
    height: auto;
    padding-bottom: 6%;
}
.link {
    text-decoration: none;
    color: white;
}


 /*Responsive layout - makes a one column layout instead of a three-column layout */
@media (max-width: 800px) {
    .block {
        flex-direction: row;
    }
}
#formTitle {
    font-size: 3em;
    letter-spacing: 0.03em;
}
.col-md-4 img {
    width: 80%;
    height: 300px;
    text-align: center;
}

.block-graph img {
    height: 300px;
    padding-top: 10%;
    padding-bottom: 10%;
}

p {
    color: white;
}

h2 {
    text-align: center;
}
h3 {
    color: white;
}

.disclaimer{
    text-align: center;
}

#morningMonitoring{
    text-align: center;
}

#disclaimer{
    text-align: center;
}

.graph {
    margin-top: 0.4%;
    display: inline-block;
    background-color: black;
    width: 66%;
    text-align: center;
    border-radius: 1em;
    border-top: red 2em solid;
    color: white;
    text-decoration: none;
}