.entry-form{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 30%;
    padding-right: 40%;
    width:60%;
    text-align: center;
}

.form-group{
    border: black 1px solid;
    width: 70%;
}

#eval {
    text-align: center;
    width: 70%;
    font-family: Times;
    font-size: 1em;
    background-color: red;
    height: 2em;

}

textarea {
    width: 90%;
    background-color: beige;
}

input {
    width: 30%;
    background-color: beige;
}

.psych {
    display: flex;
    justify-content: center;
    background-color: lightgreen;
}
.psych label {
    width: 70%;
}
.psych .form-control {
    width: 30%;
}

.title {
    text-align: center;
    font-family: Georgia, Times, serif;
    font-size: 2em;
    letter-spacing: 0.02em;
}
.form-group {
    background-color: lightgreen;
}
label {
    background-color: lightgreen;
}