/*h1 {*/
/*    padding-top: 3%;*/
/*    text-align: center;*/
/*}*/

/*a {*/
/*    width: 100%;*/
/*}*/


/*.col-spacer {*/
/*    width:4%;*/
/*}*/

.page404{
    text-align: center;
}
.footerhomepage {
    text-align: center;
}
.logout{
    text-align: center;
}

#loggedOutText{
    color: #009879;
}
#pageTitle{
    text-align: center;
}